# Maven / Java
/target/
!.mvn/wrapper/maven-wrapper.jar
*.jar
!*wrapper*.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Compiled
*.class

# Package Files
*.war
*.ear
*.zip
*.tar.gz
*.rar

